<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="light" (click)="filtro = !filtro">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Áreas favoritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="bar" type=indeterminate></ion-progress-bar>

  <ion-card *ngIf="filtro" class="card-search" color="light">
    <ion-card-header>
      <ion-card-title>Filtrar publicaciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="grupos-label">Grupos de Comunidades</ion-label>
        <ion-select class="option-select" placeholder="Select One" [(ngModel)]="grupo"
          (ngModelChange)="filtro=!filtro;">
          <ion-select-option *ngFor="let item of grupos" [value]="item.id">
            {{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div *ngFor="let new of securitys">
    <ion-card *ngIf="new.community_group_id == grupo" color="light">
      <ion-card-header>
        <ion-card-title>{{new.title}}</ion-card-title>

        <ion-card-subtitle> {{new.description}} </ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>
        <ion-label>Fecha y Hora: {{new.date}}</ion-label><br>
        <ion-label>Lugar: {{new.comunidad}}</ion-label><br>
        <ion-label>Tipo: {{new.tipo}}</ion-label><br>
        <ion-label>Agradecimientos:{{new.likes}}</ion-label><br>
        <ion-chip color="secondary" mode="md" outline="true">
          <ion-label>{{new.estado}}</ion-label>
        </ion-chip>
      </ion-card-content>
      <ion-slides *ngIf="new.multimedia.length > 0 else default" mode="md" pager="md" scrollbar="md">
        <ion-slide *ngFor="let multi of new.multimedia">
          <img class="slideimg"
            [src]="'https://comunidades-organizadas.000webhostapp.com/evidence/'+new.id+'/'+multi.multimedia_path">
        </ion-slide>
      </ion-slides>

      <ng-template #default>
        <ion-slides mode="md" pager="md" scrollbar="md">
          <ion-slide>
            <img class="slideimg"
              [src]="'https://www.gumtree.com/static/1/resources/assets/rwd/images/orphans/a37b37d99e7cef805f354d47.noimage_thumbnail.png'">
          </ion-slide>
        </ion-slides>
      </ng-template>
      <div>
        <ion-item color="medium">
          <ion-button class="myicon myicon2">
            <ion-icon color="secondary" name="heart"></ion-icon>
          </ion-button>
          <ion-button class="myicon">
            <ion-icon color="tertiary" name="chatbubbles"></ion-icon>
          </ion-button>
          <ion-button class="myicon">
            <ion-icon color="success" name="alert"></ion-icon>
          </ion-button>
          <ion-button class="myicon">
            <ion-icon color="danger" name="warning"></ion-icon>
          </ion-button>
        </ion-item>
      </div>

    </ion-card>
  </div>

</ion-content>