<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br>
  <ion-item>
    <ion-label position="floating">Dirección de correo electrónico</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button color="warning" (click)="login()" expand="block">Iniciar sesión</ion-button>
  <ion-button color="warning" expand="block" routerLink="/register" routerDirection="forward">
    Registrar
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">{{msg_error}}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>