:root {
  --ion-color-primary: #2f323e;
  --ion-color-primary-rgb: 47,50,62;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #292c37;
  --ion-color-primary-tint: #444751;

  --ion-color-secondary: #7ace4c;
  --ion-color-secondary-rgb: 122,206,76;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #6bb543;
  --ion-color-secondary-tint: #87d35e;

  --ion-color-tertiary: #7460ee;
  --ion-color-tertiary-rgb: 116,96,238;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #6654d1;
  --ion-color-tertiary-tint: #8270f0;

  --ion-color-success: #41b3f9;
  --ion-color-success-rgb: 65,179,249;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #399edb;
  --ion-color-success-tint: #54bbfa;

  --ion-color-warning: #3490dc;
  --ion-color-warning-rgb: 52,144,220;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #2e7fc2;
  --ion-color-warning-tint: #489be0;

  --ion-color-danger: #f33155;
  --ion-color-danger-rgb: 243,49,85;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d62b4b;
  --ion-color-danger-tint: #f44666;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}