.slideimg{
    width: 220px;
    height: 220px;
    max-width: 220px;
    max-height: 220px;
}

.myicon{
    margin-right: 15%;
}

.myicon2{
    margin-left: 15px;
}

.bar-buttons{
    background: #2b2b2b;
}

.card-search{
    z-index: 30;
    position: fixed;
    width: 95%;
}

.grupos-label{
    font-size: 15px;
}