<ion-split-pane>
  <ion-menu contentId="content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Awesome menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <div *ngFor="let p of pages">

        <ion-menu-toggle auto-hide="false" *ngIf="p.url">
          <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>


        <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.active-parent]="p.open"
          detail="false">
          <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
          <ion-label>{{p.title}}</ion-label>
        </ion-item>

        <ion-list *ngIf="p.open">
          <ion-menu-toggle auto-hide="false">
            <ion-item class="sub-item" *ngFor="let c of p.children" [routerLink]="c.url" routerDirection="root"
              routerLinkActive="active">
              <ion-icon slot="start" [name]="c.icon"></ion-icon>
              <ion-label>
                {{c.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </div>
      <ion-item tappable (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        Logout
      </ion-item>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>