<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <!-- <ion-input [(ngModel)]="email"></ion-input> -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Primer Apellido</ion-label>
    <!-- <ion-input [(ngModel)]="email"></ion-input> -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Segundo Apellido</ion-label>
    <!-- <ion-input [(ngModel)]="email"></ion-input> -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cedula</ion-label>
    <!-- <ion-input [(ngModel)]="email"></ion-input> -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Extranjero</ion-label>
    <!-- <ion-input [(ngModel)]="email"></ion-input> -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Género</ion-label>
    <!-- <ion-input [(ngModel)]="email"></ion-input> -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Dirección de correo electrónico</ion-label>
    <!-- <ion-input [(ngModel)]="email"></ion-input> -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <!-- <ion-input [(ngModel)]="email"></ion-input> -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmar contraseña</ion-label>
    <!-- <ion-input [(ngModel)]="email"></ion-input> -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-button expand="block" color="secondary">Register</ion-button>
</ion-content>