<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-login">
    <ion-img src="https://comunidades-organizadas.000webhostapp.com/plugins/images/cityCareLogo.png"></ion-img>
  </div>
  <ion-item>
    <ion-label>Nombre: </ion-label>
    <ion-input placeholder="nombre" slot="end"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Primer Apellido: </ion-label>
    <ion-input placeholder="primer apellido" slot="end"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Segundo Apellido:</ion-label>
    <ion-input placeholder="apellido2" slot="end"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cedula: </ion-label>
    <ion-input placeholder="cedula" type="number" max="10" slot="end"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Extranjero: </ion-label>
    <ion-checkbox color="warning" slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Género</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Femenino</ion-select-option>
      <ion-select-option value="h">Masculino</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Correo electrónico: </ion-label>
    <ion-input slot="end" placeholder="email" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input placeholder="password" slot="end" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Repetir contraseña</ion-label>
    <ion-input placeholder="password" slot="end" type="password"></ion-input>
  </ion-item>
  <ion-button expand="block" color="tertiary">Register</ion-button>
</ion-content>