<ion-tabs *ngIf="cargadas">
  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="noticias">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seguridad">
      <ion-icon name="bonfire"></ion-icon>
      <ion-label>Seguridad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicios">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>